/* ----------------------------------------------------------------------------------- Cards */

.noffle-card {
    height: 260px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.user-card {
    height: 400px;
}

.card-img-top {
    max-height: 200px;
    margin: auto;
    width: fit-content !important;
}

.border-black {
    border: 2px solid black !important;
}