/* ----------------------------------------------------------------------------------- Variables */

:root {
    --alto: #D0D0D0;
    --gallery: #ECECEC;
    --wild-sand: #F5F5F5;
    --pastel-yellow: #FEF3D2;
    --pastel-red: #FBE6E6;
    --pastel-green: #E3F1D4;
    --pastel-blue: #D7EFF5;
}

/* ----------------------------------------------------------------------------------- Overall */

body {
    height: calc(100% - 66px);
    padding-bottom: 66px;
}

main {
    padding-top: 52px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.mp-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.tap-target {
    min-height: 48px;
    min-width: 48px;
}

/* ----------------------------------------------------------------------------------- Navbar and Footer */


nav,
footer {
    color: black !important;
    background-color: var(--alto);
    z-index: 3;
}

nav {
    border-bottom: 2px solid black;
}

.navbar {
    padding: 0 !important;
}

.nav-item {
    margin-right: 10px;
    padding: 5px 0 5px 10px;
}

.nav-link {
    height: 100%;
    width: 100%;
}

footer {
    border-top: 2px solid black;
}

.right-justify {
    justify-content: right;
}

/* ----------------------------------------------------------------------------------- Landing Page */

/* Photo by Georgie Cobbs on Unsplash */
#hero-image {
    background-image: url("../img/hero_image.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: bottom;
    background-color: var(--pastel-green);
}

div.hero-text-overlay {
    background-color: rgba(227, 241, 212, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 50%;
    padding: 20px;
}

h1.hero-heading,
h4.hero-text {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h4.hero-text {
    margin-top: 10px;
}

h2.about-heading {
    padding: 20px;
}

p.about-text {
    padding: 0 40px 0 40px;
}

/* ----------------------------------------------------------------------------------- Cards */

.noffle-card {
    height: 260px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border-radius: 5px;
}

.user-card {
    height: 360px;
    overflow-y: scroll;
}

.office-card {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.office-card-body {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

.card-img-top {
    max-height: 100px;
    margin: auto;
    width: fit-content !important;
}

.border-black {
    border: 2px solid black !important;
}

.card-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/* ----------------------------------------------------------------------------------- Login and Register Forms */

.form-area {
    max-width: 50%;
    border: 2px solid black;
    padding: 30px;
}

.profile-login-form {
    max-width: 100%;
}

.link-register, .link-login {
    text-decoration: underline !important;
}

input,
textarea {
    background-color: var(--gallery) !important;
}

.form-control {
    border: 2px solid black !important;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------------------------------------- Profile */

.profile-form-area {
    border: 2px solid black;
    padding: 30px;
}

/* ----------------------------------------------------------------------------------- Carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
    color: black !important;
}

.carousel-caption {
    margin-left: 100px;
}

/* ----------------------------------------------------------------------------------- Avatars */

.avatar-profile {
    height: 150px;
    margin-left: 30%;
}

.avatar-office {
    max-height: 75px;
    margin-left: 25%;
}

/* ----------------------------------------------------------------------------------- Hover, Focus */

.form-control:focus,
.form-control:hover {
    border-color: var(--alto) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6) !important;
}

.nav-item:focus,
.nav-item:hover {
    background-color: var(--gallery) !important;
}

a:hover,
a:focus {
    color: brown !important;
}

/* ----------------------------------------------------------------------------------- Buttons */

.btn-close-modal,
.btn-delete,
.btn-red,
.btn-blue,
.btn-green,
.btn-yellow {
    color: black !important;
    border: 2px solid black !important;
}

.btn-close-modal,
.btn-blue {
    background-color: var(--pastel-blue) !important;
}

.btn-delete,
.btn-red {
    background-color: var(--pastel-red) !important;
}

.btn-green {
    background-color: var(--pastel-green) !important;
}

.btn-yellow {
    background-color: var(--pastel-yellow) !important;
}

/* ----------------------------------------------------------------------------------- Overlay */

.card-overlay {
    background-color: var(--gallery) !important;
    z-index: 2;
} 

/* ----------------------------------------------------------------------------------- Flash messages */

.flash-message {
    border: 1px solid black;
    padding: 5px;
    background-color: var(--pastel-yellow) !important;
    text-align: center;
}

.error {
    color: red
}

/* ----------------------------------------------------------------------------------- Media Queries */

@media(max-width:992px){
    .form-area {
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    div.hero-text-overlay {
        width: 30%;
    }
}

@media screen and (min-width: 576px) {
    #hero-image {
        height: 60vh;
    }

    div.hero-text-overlay {
        height: 160px;
        width: 40%;
    }

    h1.hero-heading {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
}