/* ----------------------------------------------------------------------------------- Cards */

.noffle-card {
    height: 260px;
}

.user-card {
    height: 400px;
}

.card-img-top {
    max-height: 200px;
    margin: auto;
    width: fit-content !important;
}