{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <div class="row text-center">
            <div class="col-12 d-grid">
                <h3 class="my-3">Oh no! It looks like something went wrong!</h3>
                <a class="btn btn-error btn-blue w-auto m-auto mb-3" href="{{ url_for('landing') }}">
                    Click here to return to safety
                </a>
                <img class="w-50 m-auto" src="/static/img/404.png" alt="Arms holding a 404 error sign">
            </div>
        </div>
    </section>
{% endblock %}