{% extends 'base.html' %}

{% block content %}
    <h2>Manage Noffles</h2>
    <div class="container">
        <div class="row">
            {% for noffle in noffles %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card noffle-card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="{{ noffle.icon }}"></i> {{ noffle.name }}</h5>
                            <p class="card-text">{{ noffle.description }}</p>
                            <p>Permanent: {{ noffle.permanent }}</p>
                            <p>Private: {{ noffle.private }}</p>
                            <a href="#" class="text-danger">Delete</a>
                            <a href="#" class="text-info">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}