{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h2 class="mb-3">A11y Corp</h2>
        <div class="row">
            {{noffle_dict}}
            {% for n in noffle_dict %}
                {{n}}
            {% endfor %}
            {% for user in users %}
            
                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a href="#" role="button" data-toggle="modal" data-target="#user-modal-{{ user._id }}">
                        <div class="card office-card">
                            <div class="card-body {% if user.panic == true %}btn-red{% else %}btn-green{% endif %}">
                                <div class="row card-title">
                                    <div class="col-12">
                                        <h5>{{ user.first_name|capitalize }} {{ user.last_name|capitalize }} ({{ user.pronouns }})</h5>
                                    </div>
                                </div>
                                
                                {% for n in noffle_dict['user'] %}
                                    {{n}}
                                {% endfor %}
                                {% for noffle in user.noffles %}
                                    {{noffle}}
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="user-modal-{{ user._id }}" tabindex="-1" role="dialog" aria-labelledby="user-modal-{{ user._id }}-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="user-modal-{{ user._id }}-label">{{ user.first_name }} {{ user.last_name }} ({{ user.pronouns }})</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Username: {{ user.username }}</p>
                                Noffles: <ul>
                                    {% for noffle in user.noffles %}
                                        <li>{{ noffle }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-close-modal" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}