{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h2 class="text-center">A11y Corp</h2>
        <hr>
        <div class="row">
            {% for user in users %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <a href="#" role="button" data-toggle="modal" data-target="#user-modal-{{ user._id }}">
                        <div class="card office-card">
                            <div class="card-body {% if user.panic == true %}btn-red{% else %}btn-green{% endif %} office-card-body">
                                <div class="row">
                                    <div class="col-12 mp-0 mb-1">
                                        <img class="avatar-office img-fluid" src="/static/img/avatar{{ user.image_no }}.png" alt="Icon for {{ user.username }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-heading-title">
                                            {{ user.first_name|capitalize }} {{ user.last_name|capitalize }} ({{ user.pronouns }})
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for icon in noffle_dict[user.username] %}
                                        <div class="col-2 m-1">
                                            <i class="{{ icon['icon'] }} fa-2x noffle-icon"></i>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="user-modal-{{ user._id }}" tabindex="-1" role="dialog" aria-labelledby="user-modal-{{ user._id }}-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content {% if user.panic == true %}btn-red{% else %}btn-green{% endif %}">
                            <div class="modal-header">
                                <h4 class="modal-title" id="user-modal-{{ user._id }}-label">
                                    {{ user.first_name|capitalize }} {{ user.last_name|capitalize }} ({{ user.pronouns }})
                                </h4>
                                <button type="button" class="close btn-close-modal tap-target" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fas fa-2x fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if user.panic == true %}
                                    <h5 class="text-uppercase">
                                        <b>{{ user.first_name }} is in need of urgent help!</b>
                                    </h5>
                                {% endif %}
                                <p><b>Username:</b> {{ user.username }}</p>
                                <b>Noffles:</b>
                                {% for noffle in noffle_dict[user.username] %}
                                    <div class="card mt-2 p-3 border-black">
                                        <h6>
                                            <i class="{{ noffle['icon'] }} fa-2x noffle-icon"></i>
                                            <b>{{ noffle['name'] }}</b>
                                        </h6>
                                        <p>{{noffle['description']}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-close-modal tap-target" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}