{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h2 class="mb-3">A11y Corp</h2>
        <div class="row">
            {% for user in users %}
                <div class="col-sm-12 col-md-4 col-lg-2">
                    <div class="card office-card">
                        <div class="card-body {% if user.panic =='Panic button'%}btn-red{% else %}btn-green{% endif %}">
                            <div class="row card-title">
                                <div class="col-12">
                                    <h5>{{ user.first_name }} {{ user.last_name }} ({{ user.pronouns }})</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}