{% extends 'base.html' %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>
    <hr>
    <div class="row">
        <div class="col-5 border p-4">
            <div class="login-form profile-login-form rounded mx-auto mb-2">
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="form-group row mb-4">
                        <div class="col-2"><i class="fas fa-2x fa-user"></i></div>
                        <label for="username" class="sr-only">Username</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="username" id="username" minlength="5" maxlength="15" 
                                pattern="^[a-zA-Z0-9!-.@_]{5,15}$" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-2"><i class="fas fa-2x fa-key"></i></div>
                        <label for="password" class="sr-only">Password</label>
                        <div class="col-10">
                            <input type="password" name="password" id="password" minlength="5" maxlength="20" 
                                pattern="^[a-zA-Z0-9!£%~#$%&()*+,-./?@^_~]{5,15}$" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-2"><i class="fas fa-2x fa-key"></i></div>
                        <label for="password_confirm" class="sr-only">Confirm Password</label>
                        <div class="col-10">
                            <input id="password_confirm" name="password_confirm" placeholder="Confirm Password" class="form-control" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9!£%~#$%&()*+,-./?@^_~]{5,15}$" required>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-2"><i class="fas fa-2x fa-genderless"></i></div>
                        <label for="pronouns" class="sr-only">Pronouns</label>
                        <div class="col-10">
                            <input id="pronouns" name="pronouns" type="text" minlength="5" maxlength="40" class="form-control" placeholder="Pronouns - (she/her, he/him, they/them)" required>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-2"><i class="fas fa-2x fa-image"></i></div>
                        <label for="image_no" class="sr-only">Image Number</label>
                        <div class="col-10">
                            <input id="image_no" name="image_no" placeholder="Avatar image number" type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <button name="login" id="login" class="btn login-btn btn-green mt-3" type="submit">Update Details</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5 offset-2 p-4 border">
            {% if noffles[0] %}
                <div class="row">
                    {% for noffle in noffles %}
                        <div class="col-sm-12 col-md-6 mb-2">
                            <div class="card noffle-card">
                                <div class="card-body {% if noffle.permanent %}btn-yellow{% elif noffle.name=='Panic button'%}btn-red{% else %}btn-blue{% endif %}">
                                    <div class="row card-title">
                                        <div class="col-2"><i class="{{ noffle.icon }} fa-2x noffle-icon"></i></div>
                                        <div class="col-9 offset-1"><h5>{{ noffle.name }}</h5></div>
                                    </div>
                                    <hr>
                                    <p class="card-text">{{ noffle.description }}</p>
                                    <i class="fas fa-exclamation-circle"></i>
                                    {% if noffle.private %}
                                        <input id="private" type="checkbox" data-toggle="toggle" checked>
                                    {% else %}
                                        <input id="private" type="checkbox" data-toggle="toggle">
                                    {% endif %}
                                    <label for="private">Private</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-12 mb-5">
                    <h4 class="text-danger">You haven't got any Noffles set!</h4>
                    <p>Set your Noffles now!</p>
                    <a href="{{ url_for('set_noffles') }}" class="btn btn-close-modal">Set my Noffles</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if not user.is_admin %}
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary btn-delete mt-5" data-toggle="modal" data-target="#delete-modal">
                    Delete Your Account
                </button>
            </div>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Delete Your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                    <p>You won't be able to retrieve it after!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-close-modal" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete_account', username=user.username) }}" role="button" class="btn btn-primary btn-delete">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}