{% extends 'base.html' %}

{% block content %}
    <h2>Set My Noffles</h2>
    <hr>
    <p>To set a Noffle, click on the card, and choose whether you'd like it to be private or public.</p>
    <p>Public Noffles can be seen by everyone on the site. Private Noffles can only be seen by your managers.</p>
    <div class="container">
        <div class="row">
            {% for noffle in noffles %}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <a href="{{ url_for('add_noffle', noffle_id=noffle._id) }}">
                        <div class="card-overlay w-100 h-100">
                            <div class="card noffle-card">
                                <div class="card-body {% if noffle.permanent %}btn-yellow{% elif noffle.name=='Panic button'%}btn-red{% else %}btn-blue{% endif %}">
                                    <div class="row card-title">
                                        {% if user_noffles %}
                                            {% if noffle._id|string in user_noffles %}
                                                <p>Selected</p>
                                            {% else %}
                                                <p>Not Selected</p>
                                            {% endif %}
                                        {% endif %}
                                        <div class="col-2"><i class="{{ noffle.icon }} fa-2x noffle-icon"></i></div>
                                        <div class="col-10"><h5>{{ noffle.name }}</h5></div>
                                    </div>
                                    <hr>
                                    <p class="card-text">{{ noffle.description }}</p>
                                    <i class="fas fa-exclamation-circle"></i>
                                    {% if noffle.private %}
                                        <input id="private" type="checkbox" data-toggle="toggle" checked>
                                    {% else %}
                                        <input id="private" type="checkbox" data-toggle="toggle">
                                    {% endif %}
                                    <label for="private">Private</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}