{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">Set My Noffles</h2>
    <hr>
    <p>To set a Noffle, click on the card, and choose whether you'd like it to be private or public.</p>
    <p>Public Noffles can be seen by everyone on the site. Private Noffles can only be seen by your managers.</p>
    <div class="container">
        <div class="row">
            <h2 class="text-center py-2">Permanent Noffles</h2>
            {% for noffle in permanent_noffle %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <a href="{{ url_for('add_noffle', noffle_id=noffle._id) }}">
                        <div class="card noffle-card">
                            <div class="card-body h-100 {% if noffle.permanent %}btn-yellow{% elif noffle.name=='Panic button'%}btn-red{% else %}btn-blue{% endif %}">
                                <div class="row card-title">
                                    {% if noffle._id|string in user_noffles %}
                                        <div class="row">
                                            <i class="fas fa-check-square fa-2x mb-2 d-flex justify-content-end"></i>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <i class="far fa-square fa-2x mb-2 d-flex justify-content-end"></i>
                                        </div>
                                    {% endif %}
                                    <div class="col-2">
                                        <i class="{{ noffle.icon }} fa-2x noffle-icon"></i>
                                    </div>
                                    <div class="col-10">
                                        <h5>{{ noffle.name }}</h5>
                                    </div>
                                </div>
                                <hr>
                                <p class="card-text">{{ noffle.description }}</p>
                                {% if noffle.private %}
                                    <input id="private" type="checkbox" class="tap-target" data-toggle="toggle" checked>
                                {% else %}
                                    <input id="private" type="checkbox" class="tap-target" data-toggle="toggle">
                                {% endif %}
                                <label for="private">Private</label>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row mt-2">
            <h2 class="text-center py-2">Temporary Noffles</h2>
            {% for noffle in temporary_noffle %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <a href="{{ url_for('add_noffle', noffle_id=noffle._id) }}">
                        <div class="card noffle-card">
                            <div class="card-body h-100 {% if noffle.permanent %}btn-yellow{% elif noffle.name=='Panic button'%}btn-red{% else %}btn-blue{% endif %}">
                                <div class="row card-title">
                                    {% if noffle._id|string in user_noffles %}
                                        <div class="row">
                                            <i class="fas fa-check-square fa-2x mb-2 d-flex justify-content-end"></i>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <i class="far fa-square fa-2x mb-2 d-flex justify-content-end"></i>
                                        </div>
                                    {% endif %}
                                    <div class="col-2">
                                        <i class="{{ noffle.icon }} fa-2x noffle-icon"></i>
                                    </div>
                                    <div class="col-10">
                                        <h5>{{ noffle.name }}</h5>
                                    </div>
                                </div>
                                <hr>
                                <p class="card-text">{{ noffle.description }}</p>
                                <i class="fas fa-exclamation-circle"></i>
                                {% if noffle.private %}
                                    <input id="private-{{ noffle._id|string }}" type="checkbox" class="tap-target" data-toggle="toggle" checked>
                                {% else %}
                                    <input id="private-{{ noffle._id|string }}" type="checkbox" class="tap-target" data-toggle="toggle">
                                {% endif %}
                                <label for="private-{{ noffle._id|string }}">Private</label>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}